html,body {
    font-family: 'Open Sans', serif;
  }
  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://source.unsplash.com/1600x900/?startup,programming,tech,web') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }

  .navbar-burger {
      color: white;
  }

  .navbar-menu {
      background-color: transparent !important;
  }

  .navbar-item {
      background-color: transparent !important;
  }
  /*
  https://unsplash.it/1200/900?random
  https://placeimg.com/1200/900/tech/grayscale

  https://source.unsplash.com/1600x900/?tech
  */